<div class="card-list-container py-5">
  <% events.each do |event| %>
    <div class="card w-50 mx-auto mt-4 shadow-lg">
      <div class="card-body">
        <div class="row">
          <div class="col-3 mr-5">
            <%= link_to(member_path(event.member), class:"text-dark") do %>
              <%= image_tag event.member.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
              <span><i class="fa-solid fa-user"></i> <%= event.member.name %></span>
            <% end %>
          </div>
          <div class="col-9 ml-5">
            <%= link_to(event_path(event.id), class:"text-dark") do %>
              <p class="card-title"> <strong><i class="far fa-flag"></i><span> <%= event.name %></span></strong></p>
              <p class="card-text"><i class="fa-solid fa-tag"></i> <%= event.genre.name %></p>
              <p class="card-text"><i class="fa-regular fa-clock"></i> <%= event.start_at %> ~ <%= event.end_at %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!--降順で, 20件ずつページネーション-->
  <%= paginate events, theme: 'bootstrap-5' %>
</div>