<!-- ユーザーの詳細 -->
<div class="col-2 pt-2 pb-4">
    <%= image_tag @member.get_profile_image(150, 150), class:"mt-3 rounded-circle"; %>
</div>
<div class="col-10">
    <p class="text-secondary mt-2"><i class="fa-solid fa-list-check"></i> <%= @member.events.count %>件のTODO</p>
    <strong><p class="mt-2 h3"><%= @member.name %></p></strong>
    <p class="pt-3"><%= @member.introduction %></p>
    <% if @member == current_member %>
        <%= link_to "プロフィールを編集", edit_member_path(@member), class:"btn btn-outline-secondary btn-block w-50" %>
    <% end %>
</div>

<!--絞り込み-->
<% if @member == current_member %>
    <div class="mt-3 w-25 text-center">
        <h6 class="p-1 border-bottom"><i class="fa-solid fa-plus"></i> イベントTODO絞り込み</h6>
        <%= form_with url: member_path(@member), method: :get do |f| %>
            <%= f.select :option, options_for_select([["全て表示", 1], ["未済のみ表示", 2], ["完了のみ表示", 3]], 1) %>
            <%= f.submit "絞り込み", class: "btn btn-info btn-sm" %>
        <% end %>
    </div>
<% end %>

<!--投稿一覧-->
<%= render 'public/events/index', events: @events %>