<div class="col-12 text-center">
    <h4 class="p-3 border-bottom">ジャンル一覧・追加</h4>
</div>

<div class="col-10 mt-5 mx-auto">
    <%= render "public/shared/validation", obj: @genre %>
    
    <%= form_with model: @genre, url: admin_genres_path do |f| %>
        <div class="field row mt-3">
            <div class="col-2">ジャンル名</div>
            <div class="col-3"><%= f.text_field :name, autofocus: true, placeholder: "ジャンル名" %></div>
            <div class="col-2"><%= f.submit "新規登録", class: "btn btn-success" %></div>
        </div>
    <% end %>

    <table class="border table mt-5">
        <thead>
            <th scope="row">ジャンル</th>
            <th scope="row"></th>
        </thead>
        <tbody>
            <% @genres.each do |genre| %>
                <tr>
                    <td>
                        <h5><%= genre.name %></h5>
                    </td>
                    <td>
                        <%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success" %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>